[project]
	description = EAP5_Sample
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jooho Lee (Jooho)
[access "refs/for/refs/*"]
	read = group user/Jooho Lee (Jooho)
	push = group user/Jooho Lee (Jooho)
	label-Code-Review = -2..+2 group user/Jooho Lee (Jooho)
	label-Verified = -1..+1 group user/Jooho Lee (Jooho)
	rebase = group user/Jooho Lee (Jooho)
	removeReviewer = group user/Jooho Lee (Jooho)
	submit = group user/Jooho Lee (Jooho)
[access "refs/heads/*"]
	read = group user/Jooho Lee (Jooho)
	create = group user/Jooho Lee (Jooho)
	push = +force group user/Jooho Lee (Jooho)
	pushMerge = group user/Jooho Lee (Jooho)
[access "refs/tags/*"]
	push = +force group user/Jooho Lee (Jooho)
	pushTag = group user/Jooho Lee (Jooho)
	pushSignedTag = group user/Jooho Lee (Jooho)
